graft docs
graft src
graft ci
graft tests

include .bumpversion.cfg
include .coveragerc

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include HISTORY.rst
include USAGE.rst

include Makefile

include tox.ini .travis.yml

global-exclude docs/_build* *.swp
